################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FourthCoffee.ExceptionLogger/FourthCoffee.ExceptionLogger/bin/Debug
/FourthCoffee.ExceptionLogger/.vs/FourthCoffee.ExceptionLogger/v17
/FourthCoffee.ExceptionLogger/FourthCoffee.ExceptionLogger/obj
